*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Navigation Menu*/
.container-1 {
    padding: 40px 200px;
}
#company-name {
    display: inline-block;
    color: white;
    transition: .5s;
}

nav {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    background: rgba(0,0,0,0.5);
    position: relative;
    z-index: 100;
}

.nav-menu  {
    display: inline;
}
nav span {
    color: #00ccff;
    transition: .5s;
}

.nav-menu ul {
    float: right;
    margin-top: 5px;

}
.nav-menu li {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: white;
    transition: .5s;
}

li {
    transition: .5s;
}
#company-name:hover{
    color: #00ccff;
    transition: .5s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

.container-1 span:hover {
    color:white;
    transition: .5s;
    transition-timing-function: ease-in-out;
}

li:hover {
    transition: .5s;
    transition-timing-function: ease-in-out;
}

nav a:hover {
    color:#00ccff;
    border: 2px solid #00ccff;
    transition: .5s;
    padding: 0 10px;
}
/*End of Navbar*/


/*Hero*/
.hero {
    width: 100%;
}
.hero-image {
    background: linear-gradient( rgba(75, 95, 130, 0.5), rgba(75, 95, 130, 0.5) ), url(images/blueasy-bg.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    position: relative;
    margin-top: -7.5em;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2rem;
    font-weight: 100;
    width: 100%;
}

.hero-text h1 {
    background: rgba(0,0,0,0.5);
    display: inline-block;
    font-weight: 100;
    padding: 5px;
    transition: .5s;
    margin: 10px 20px 5px;

}

.hero-text h1:hover {
    color: #00ccff;
    transition: .5s;
    cursor: pointer;
}
/*End of Hero*/

/*Services*/
.container-2 {
    padding: 50px 100px;
    background: #00ccff;
    border: none;
    width: 100%;
}

.services {
    position: relative;
    font-family: 'Questrial', sans-serif;
    font-weight: 100;
    color:white;
    margin: 40px 0;
}

.services span {
    font-size: 2em;
    border-bottom: .5px solid white;
}

.service-icon {
    width: 40px;
    height:40px;
    margin: 10px 0;
    transition: .5s;
}

.service-icon:hover {
    transform: rotate(360deg);
    transition: .5s;
    transition-timing-function: ease-in-out;
}

.grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(200px,4fr));
    grid-gap: 4em;
    justify-content: center;
}

.grid-box h1 {
    margin-bottom: 10px;
}
/*End of Services*/

.container-3 {
    padding: 50px 100px;
    color: grey;
    width: 100%;
}

.portfolio h1 {
    display: inline-block;
    position: absolute;
    font-family: 'Questrial', sans-serif;
    font-weight: 100;
    border-bottom: .5px solid grey;
}

.portfolio-nav ul {
    display: inline-block;
    float: right;
    
}
.portfolio-nav li {
    list-style: none;
    display: inline-block;
    margin: 5px;
}

.portfolio-nav a {
    color: grey;
}

.portfolio-nav a:hover {
    color: #00ccff;
}

.portfolio-gridbox {
    position: relative;
    margin-top: 5em;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(200px,4fr));
    grid-gap: 2.8em;
    justify-content: center;
    justify-items:center;
    width: 100%;
    
}
.portfolio-gridbox img {
    width: 250px;
    height: 250px;
    margin: 5px;
    filter: grayscale(100%);
    transition: .5s;
}

/*End of Portfolio*/

/*Just a Section*/

.container-4 {
    background: #505F66;
    padding: 40px 100px;
    width: 100%;

}

.justASection {
    position: relative;
    font-family: 'Questrial', sans-serif;
    font-weight: 100;
    color:white;
    margin: 2px 0;
    display: flex;
}

.justASection h1 {
    display: inline-block;
    border-bottom: .5px solid white;
}
p {
    margin: 20px 0;
}

.justASection button {
    color:#242a33;
    letter-spacing: 1.5px;
    padding:  5px 20px;
    background: none;
    outline: none;
    border: 1px solid #242a33;
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    transition: .5s;
}

.justASection button:hover {
    color:white;
    border: 1px solid white;
    transition:.5s;
}

.video {
    margin-left: 50px;
}
/*End of Just a Section*/

.container-5 {
    padding: 80px 100px;
    background: #00ccff;
    width: 100%;
}

.twitter,
.tweet {
    font-family: 'Questrial', sans-serif;
    font-weight: 100;
    color:white;
}

.twitter h1 {
    display: inline-block;
    border-bottom: .5px solid white;
    letter-spacing: 1.5px;
}

.twitter img {
    height:30px;
    width: 30px;
    float: right;
}

/*End of twitter section*/

.container-6 {
    padding: 100px 100px;
    background:linear-gradient(
      rgba(75, 95, 130, 0.5), 
      rgba(75, 95, 130, 0.5)
    ), url(images/photoman-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Questrial', sans-serif;
    width: 100%;
}

.who-is-section {
    display: flex;
}

.who-is h1 {
    border-bottom: .5px solid white;
    display: inline-block;
}

.who-is-p {
    margin-right: 50px;
}

.who-is-social img {
    width: 50px;
    height:50px;
    display: inline-block;
    border:1px solid white;
    padding: 10px;
    margin: 5px;   
}

.logo {
    transition:.5s;
}

.twitter-logo:hover {
    background: #00ccff;
    transition: .5s;
}

.google-logo:hover {
    background: #d12e2e;
    transition: .5s;
}

.dribbble-logo:hover {
    background:#ea4c89;
    transition: .5s;
}

.tea-logo:hover {
    background: #3ab76c;
    transition: .5s;
}
/*End of Who is John Doe*/
.container-7 {
 padding: 50px 100px;
 color: gray;
 font-family: 'Questrial', sans-serif;
 width: 100%;
 height: 450px;
}

.testimonials h1 {
 letter-spacing: 1.5px;
 border-bottom: .5px solid grey;
display: inline-block;
}

.testimonials img {
    float: right;
    width: 35px;
    height: 35px;
}
.source {
    margin-top: 10px;
    color: #00ccff;
    float: left;
}

.content-slider {
  width: 100%;
  height: 360px;
}

.slider {
  height: auto;
  width: 100%;
  margin: 40px auto 0;
  overflow: visible;
  position: relative;
}

.mask {
  overflow: hidden;
  height: 320px;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  width: 100%;
  height: 320px;
  position: absolute;
  top: -325px;
  list-style: none;
}

.slider .quote {
  font-size: 40px;
  font-style: italic;
}

.slider .source {
  font-size: 20px;
  text-align: right;
}

.slider li.anim1 {
  -moz-animation: cycle 15s linear infinite;
  -webkit-animation: cycle 15s linear infinite;
  animation: cycle 15s linear infinite;
}

.slider li.anim2 {
  -moz-animation: cycle2 15s linear infinite;
  -webkit-animation: cycle2 15s linear infinite;
  animation: cycle2 15s linear infinite;
}

.slider li.anim3 {
  -moz-animation: cycle3 15s linear infinite;
  -webkit-animation: cycle3 15s linear infinite;
  animation: cycle3 15s linear infinite;
}

.slider li.anim4 {
  -moz-animation: cycle4 15s linear infinite;
  -webkit-animation: cycle4 15s linear infinite;
  animation: cycle4 15s linear infinite;
}

.slider li.anim5 {
  -moz-animation: cycle5 15s linear infinite;
  -webkit-animation: cycle5 15s linear infinite;
  animation: cycle5 15s linear infinite;
}

.slider:hover li {
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@-moz-keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -325px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -325px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@-moz-keyframes cycle2 {
  0% {
    top: -325px;
    opacity: 0;
  }
  16% {
    top: -325px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@-moz-keyframes cycle3 {
  0% {
    top: -325px;
    opacity: 0;
  }
  36% {
    top: -325px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
  }
  60% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@-moz-keyframes cycle4 {
  0% {
    top: -325px;
    opacity: 0;
  }
  56% {
    top: -325px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@-moz-keyframes cycle5 {
  0% {
    top: -325px;
    opacity: 0;
  }
  76% {
    top: -325px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
}

@-webkit-keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  50% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -325px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -325px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes cycle2 {
  0% {
    top: -325px;
    opacity: 0;
  }
  16% {
    top: -325px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes cycle3 {
  0% {
    top: -325px;
    opacity: 0;
  }
  36% {
    top: -325px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  60% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes cycle4 {
  0% {
    top: -325px;
    opacity: 0;
  }
  56% {
    top: -325px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes cycle5 {
  0% {
    top: -325px;
    opacity: 0;
  }
  76% {
    top: -325px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
}

/*End Of Testimonials*/
.container-8 {
    padding: 100px 100px;
    background:linear-gradient(
      rgba(75, 95, 130, 0.5), 
      rgba(75, 95, 130, 0.5)
    ), url(images/coffee-cup.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Questrial', sans-serif;
    width: 100%;
}

.contact-input {
    width: 100%;
    margin-top: 10px;
}

.name,
.email {
    margin-top: 10px;
}

input {
    margin-top: 5px;
    width: 90%;
    padding: 10px;
    background: none;
    border: 1px solid white;
    outline: none;
    color: white;
    font-size: 20px;
}

.contact-flex {
    display: flex;
}

textarea {
    width: 100%;
    height: 250px;
    background: none;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    outline: none;
    margin-top: 10px;
}

.message button {
    margin-top: 10px;
    padding: 10px 100px;
    background: #00ccff;
    border: none;
    color: white;
    outline:none;
    cursor: pointer;
}
/*End of Contact us*/

footer nav {
    background: #354044;
    padding: 20px 100px;

}

footer li {
    display:inline-block;
    padding:  0px 20px;
    border-right: 1px solid #505F66;
}

footer li:last-child {
    border: none;
}

footer a {
    color: #505F66;
}

footer a:hover {
    border: none;
    margin: inherit;
    padding: 0;
    
}

@media (max-width:1120px) {
    .justASection {
        display: block;
    }
    
    .video {
        margin: 10px;
    }
    
    iframe {
        width: 100%;
        height: 467px;
    }
}

@media (max-width:1000px) {
    
    .container-1 {
    padding: 35px;
}
    
    #company-name {
        display: block;
        text-align: center;
    }
    .nav-menu ul {
    float: right;
    margin-top: 5px;
    width: 100%;
    text-align: center;
  }
}

@media (max-width:850px) {
    .portfolio h1 {
        position: relative;
        margin-bottom: 20px;
    }
    
    .portfolio-nav {
        float: left;
        margin: 0;
    }
    
    .contact-flex {
        display: block;
    }
}
