body {
    background: red;
}

h1 {
    text-align: center;
    font-size:5em;
    color: white;
}

img {
    display: block;
    position: relative;;
    left: 40%;
}

textarea {
    position: relative;
    left: 44%;
    margin-top: 10px;
    color: red;
    background: pink;
}


button {
    display: block;
    position: relative;
    left: 48%;
    background: red;
    border: 3px solid green;
    outline:none;
}

button:hover {
    cursor: pointer;
}